@import 'bootstrap/scss/buttons';

.btn {
  font-size: 12px;
  letter-spacing: 0.6px;
  min-width: 140px;
  text-align: center;
  text-transform: uppercase;
}

.btn-primary {
  &, &:hover {
    color: white;
  }
}

.btn-secondary {
  &, &:hover {
    color: $body-color;
  }
}

.btn-link {
  font-weight: $font-weight-bold;

  &, &:hover {
    color: #04B6F1;
  }
}

.btn-light {
  &, &:hover {
    color: #00AEF0;
  }
}

.btn-outline-light {
  &:hover {
    color: #00AEF0;
  }
}

.btn-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  svg {
    fill: currentColor;
  }

  svg + span, span + svg {
    margin-left: 0.5rem;
  }
}
