@import 'bootstrap/scss/forms';

.form-control {
  box-shadow: $input-box-shadow;
}

.form-control,
.custom-select {
  .was-validated &:invalid,
  &.is-invalid {
    &:focus {
      box-shadow: inset 0 2px 3px 0 rgba($form-feedback-invalid-color, .25);
    }
  }

  .was-validated &:valid,
  &.is-valid {
    &:focus {
      box-shadow: inset 0 2px 3px 0 rgba($form-feedback-valid-color, .25);
    }
  }
}
