.header {
  background-color: $blue;
  color: white;
  padding: 80px 0;
  position: relative;

  &__title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
  }

  &__lead {
    font-size: 20px;
    line-height: 1.6;
    max-width: 550px;
  }

  &__buttons {
    margin-top: 48px;

    .btn {
      margin-right: 1rem;
    }
  }

  &__scroll-indicator {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: absolute;
      background: white;
      bottom: 0;
      left: 50%;
      margin-bottom: -20px;
      margin-left: -20px;
      box-shadow: 0 8px 16px -8px rgba(0,0,0,0.16);
    }

  &__scroll-indicator__arrow {
    width: 12px;
    height: 12px;
    border-color: $dark white white $dark;
    border-width: 3px 0 0 3px;
    border-style: solid;
    position: absolute;
    transform: rotate(-135deg);
    left: 50%;
    bottom: 50%;
    margin-bottom: -4px;
    margin-left: -6px;
    padding: 3px;
  }
}
