.privacy-feature-card {
  background: white;
  font-size: 14px;
  line-height: 1.714;
  margin-bottom: 1rem;
  padding: 24px 0;

  .w-100 {
    @include media-breakpoint-up('md') {
      display: none;
    }
  }

  &__icon {
    box-sizing: content-box;
    flex: 0;
    width: 24px;
  }

  &__content {
    strong {
      color: black;
    }

    @include media-breakpoint-down('md'){
      margin-bottom: 1rem;
    }

    .badge {
      margin-left: 1em;
      vertical-align: top;
    }
  }

  &__subtitle {
    max-width: 500px;
  }

  &__about {
    flex: 0;

    @include media-breakpoint-down('md') {
      margin-left: auto;
    }
  }

  &__cta {
    flex: 0;
  }
}
