.settings-section {
  margin-top: 50px;
  margin-bottom: 50px;

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    margin-top: 50px;
  }

  &__content {
    max-width: 570px;
  }

  &__button {
    margin-bottom: 2rem;

    .btn {
      border: 0;
      padding: 0;
    }
  }

  &__cards {
    margin: 0 -24px;
  }
}
