.tick {
  position: relative;
  width: 24px;
  height: 24px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 22px;
    top: -1px;
    left: 7px;

    border-color: $primary;
    border-style: solid;
    border-width: 3px 0 0 3px;
    transform: rotate(-135deg);
  }
}
