body {
  -webkit-font-smoothing: antialiased;
  font-size: $font-size;
  font-family: "-mac-system", "-apple-system", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #1A1A25;
}
