$primary: #9ECC42;
$secondary: #E7ECEE;
$danger: #FF0049;
$light: #FFFFFF;

$font-family-sans-serif: Muli, sans-serif;
$font-weight-extra-bold: 800;

$box-shadow: 0 4px 8px -4px rgba(0,0,0,0.16);

$input-btn-border-width: 2px;
$input-btn-line-height: 2;
$input-btn-padding-x: 1.6875rem;
$input-btn-padding-y: 0.375rem;

$btn-border-radius: 4px;
$btn-font-weight: $font-weight-extra-bold;

$badge-font-size: 12px;
$badge-font-weight: $font-weight-extra-bold;
$badge-padding-x: 5px;
$badge-padding-y: 5px;
