$primary: #9ECC42;
$secondary: #E7ECEE;
$danger: #FF0049;
$light: #FFFFFF;
$dark: #5F7C86;
$blue: #00AEF0;

$body-color: #5F7C86;
$font-family-sans-serif: Muli, sans-serif;
$font-weight-extra-bold: 800;

$grid-gutter-width: 18px;

$box-shadow: 0 4px 8px -4px rgba(0,0,0,0.16);

$btn-border-radius: 4px;
$btn-border-width: 2px;
$btn-font-weight: $font-weight-extra-bold;
$btn-line-height: 2;
$btn-padding-x: 1rem;
$btn-padding-y: 0.375rem;

$input-border-color: $secondary;
$input-box-shadow: inset 0 2px 3px 0 rgba(95,124,134,0.09);
$input-focus-box-shadow: inset 0 2px 3px 0 rgba($blue, .25);
$input-color: #1A1A25;
$input-padding-x: 1rem;
$input-padding-y: 0.4375rem;

$badge-font-size: 12px;
$badge-font-weight: $font-weight-extra-bold;
$badge-padding-x: 5px;
$badge-padding-y: 5px;
