@import 'variables';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/reboot';

@import 'typography';
@import 'grid';

@import 'badge';
@import 'button';
@import 'detection-card';
@import 'footer';
@import 'form';
@import 'header';
@import 'privacy-feature-card';
@import 'settings-section';
@import 'tick';
@import 'wizard-card';

@import 'page';

@import 'bootstrap/scss/utilities/clearfix';
@import 'bootstrap/scss/utilities/flex';
@import 'bootstrap/scss/utilities/shadows';
@import 'bootstrap/scss/utilities/sizing';
@import 'bootstrap/scss/utilities/spacing';
@import 'bootstrap/scss/utilities/text';
